@import "tailwindcss";



:root {
  --background: white;
  --foreground: black;
  --primary: #1d4ed8;
  /* blue-700 */
  --secondary: #f59e0b;
  /* amber-500 */
  --accent: #ec4899;
  /* pink-500 */
  --border: #e5e7eb;
  /* gray-200 */
  --text: #111827;
  /* gray-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}